<div>Chain</div>
<app-select-field
  [title]="'Chain name'"
  [list]="list | async"
  [selected]="formData.chainId?.toString()"
  (emitter)="events($event, 'chainId')"
></app-select-field>

<div>address</div>
<app-input-field
  [inputValue]="formData.address"
  (emitter)="events($event, 'address')"
></app-input-field>

<div>symbol</div>
<app-input-field
  [inputValue]="formData.symbol"
  (emitter)="events($event, 'symbol')"
></app-input-field>

<div>tokenName</div>
<app-input-field
  [inputValue]="formData.tokenName"
  (emitter)="events($event, 'tokenName')"
></app-input-field>

<div>decimals</div>
<app-input-field
  [inputValue]="formData.decimals || 0"
  type="number"
  (emitter)="events($event, 'decimals')"
></app-input-field>

<div>ПО задачам:</div>

<div>Реализовать изменение токена</div>
<div>Стилизовать нормально форму</div>
<div>Добавить в форму валидацию</div>
<div>Добавить в форму лодеры</div>
<div>Добавить на страницу лодеры</div>
<div>Подвязать зависимость списка в сайдбаре и активного элемента</div>
