<app-header-content-layout>
  @if (poolsDataIsReady$ | async) {
    <app-title-table-button
      header
      [title]="'Pools table (' + ((poolsDataResponse$ | async)!.length === filteredItemCount ? (poolsDataResponse$ | async)!.length : filteredItemCount + ' / ' + (poolsDataResponse$ | async)!.length) + ')'"
      [icon]="'add'"
      (emitter)="actions($event, 'add')"
    >
      <div class="custom-small-field">
        <span>Convert to: </span>
        <app-autocomplete
          [list]="(swapRateDataResponse$ | async)!"
          [selected]=""
          (emitter)="events($event)"
          content
        ></app-autocomplete>
      </div>

    </app-title-table-button>
  }
  @if (poolsDataIsReady$ | async) {
    <app-ag-grid
      content
      [rowData]="(poolsDataResponse$ | async)!"
      [colDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      (emitter)="events($event)"
    ></app-ag-grid>
  } @else {
    <app-loader header></app-loader>
  }
</app-header-content-layout>

