<app-header-content-layout>
  <app-field-title header [title]="'Select chain'"></app-field-title>
  <app-autocomplete
    [title]="'Chain name'"
    [list]="(chainsList | async)!"
    [selected]="formData.chainId"
    (emitter)="events($event, 'chainId')"
    content
  ></app-autocomplete>
</app-header-content-layout>

<app-header-content-layout>
  <app-field-title header [title]="'Select Base Token Id'"></app-field-title>
  <app-autocomplete
    [title]="'Base Token Id'"
    [list]="(tokensList | async)!"
    [selected]="formData.token"
    [disabled]="tokenDisabled"
    (emitter)="events($event, 'token')"
    content
  ></app-autocomplete>
</app-header-content-layout>

<app-header-content-layout>
  <app-field-title header [title]="'Select Quote Token Id'"></app-field-title>
  <app-autocomplete
    [title]="'Quote Token Id'"
    [list]="(tokensList | async)!"
    [selected]="formData.token2"
    [disabled]="tokenDisabled"
    (emitter)="events($event, 'token2')"
    content
  ></app-autocomplete>
</app-header-content-layout>

<app-header-content-layout>
  <app-field-title header [title]="'Select Dex Id'"></app-field-title>
  <app-autocomplete
    [title]="'Dex Id'"
    [list]="(dexesList | async)!"
    [selected]="formData.dexId"
    (emitter)="events($event, 'dexId')"
    content
  ></app-autocomplete>
</app-header-content-layout>

<app-header-content-layout>
  <app-field-title header [title]="'Select Dex Version'"></app-field-title>
  <app-autocomplete
    [title]="'Dex Version'"
    [list]="(versionsList | async)!"
    [selected]="formData.version"
    (emitter)="events($event, 'version')"
    content
  ></app-autocomplete>
</app-header-content-layout>

<app-header-content-layout>
  <app-field-title header [title]="'Fee'"></app-field-title>
  <app-input-field
    [inputValue]="formData.fee"
    (emitter)="events($event, 'fee')"
    [type]="'number'"
    content
  ></app-input-field>
</app-header-content-layout>

<app-header-content-layout>
  <app-field-title header [title]="'Pool Address'"></app-field-title>
  <app-input-field
    [inputValue]="formData.poolAddress"
    (emitter)="events($event, 'poolAddress')"
    content
  ></app-input-field>
</app-header-content-layout>
