<app-header-content-layout>
  <app-field-title header [title]="'Select chain'"></app-field-title>
  <app-autocomplete
    [title]="'Source'"
    [list]="(chainsList | async)!"
    [selected]="formData.source"
    (emitter)="events($event, 'source')"
    content
  ></app-autocomplete>
</app-header-content-layout>

<app-header-content-layout>
  <app-field-title header [title]="'Token 0 symbol'"></app-field-title>
  <app-input-field
    [inputValue]="formData.token0"
    (emitter)="events($event, 'token0')"
    content
  ></app-input-field>
</app-header-content-layout>

<app-header-content-layout>
  <app-field-title header [title]="'Token 1 symbol'"></app-field-title>
  <app-input-field
    [inputValue]="formData.token1"
    (emitter)="events($event, 'token1')"
    content
  ></app-input-field>
</app-header-content-layout>
