:host {
  display: flex;
  height: 100%;
  min-height: 0;

  app-title-content-layout {
    display: flex;
    flex: 1;
    min-height: 0;

    .tables-group {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }

}
