:host {
  display: flex;
  height: 100%;

  .container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: var(--main-back);

    .mat-mdc-button-touch-target {
      height: 24px !important;
      width: 24px !important;
    }

    .example-icon {
      color: var(--white-color);
    }

    .main-message {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      //padding: 0 16px 16px 16px;
      overflow: hidden;
    }

    .footer {
      margin-top: auto;
      overflow: hidden;

      .footer-buttons {
        display: flex;
        flex-direction: row;
        gap: 16px;

        button {
          height: 24px;
          border: 1px solid black;
        }
      }
    }
  }
}
