<app-header-content-layout>
  @if ((serversDataIsLoaded$ | async) && !(serversDataIsLoading$ | async)) {
    <app-title-table-button
      header
      [title]="'Servers table (' + ((serversDataResponse$ | async)!.length === filteredItemCount ? (serversDataResponse$ | async)!.length : filteredItemCount + ' / ' + (serversDataResponse$ | async)!.length) + ')'"
      [icon]="'add'"
      (emitter)="actions($event, 'add')"
    ></app-title-table-button>
  }
  @if ((serversDataIsLoaded$ | async) && !(serversDataIsLoading$ | async)) {
    <app-ag-grid
      content
      [rowData]="(serversDataResponse$ | async)!"
      [colDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      (emitter)="actions($event)"
    ></app-ag-grid>
  } @else {
    <app-loader header></app-loader>
  }
</app-header-content-layout>

