<app-header-content-layout>
  @if ((pairsDataIsLoaded$ | async) && !(pairsDataIsLoading$ | async)) {
    <app-title-table-button
      header
      [title]="'Pairs table'"
      [icon]="'add'"
      (emitter)="actions($event, 'add')"
    ></app-title-table-button>
  }
  @if ((pairsDataIsLoaded$ | async) && !(pairsDataIsLoading$ | async)) {
    <app-ag-grid
      content
      [rowData]="(pairsDataResponse$ | async)!"
      [colDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      (emitter)="actions($event)"
    ></app-ag-grid>
  } @else {
    <app-loader header></app-loader>
  }
</app-header-content-layout>

