<app-header-content-layout>
  @if (fullJobsDataIsReady$ | async) {
    <app-title-table-button
      header
      [title]="'Jobs table (' + ((getJobsFullDataResponse$ | async)!.length === filteredItemCount ? (getJobsFullDataResponse$ | async)!.length : filteredItemCount + ' / ' + (getJobsFullDataResponse$ | async)!.length) + ')'"
      [icon]="'add'"
      (emitter)="actions($event, 'add')"
    ></app-title-table-button>
  }
  @if (fullJobsDataIsReady$ | async) {
    <app-ag-grid
      content
      [rowData]="(getJobsFullDataResponse$ | async)!"
      [colDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      (emitter)="actions($event)"
    ></app-ag-grid>
  } @else {
    <app-loader header></app-loader>
  }
</app-header-content-layout>

