<app-header-content-layout>
  @if (fullCexJobsDataIsReady$ | async) {
    <app-title-table-button
      header
      [title]="'Jobs table (' + ((getCexJobsFullDataResponse$ | async)!.length === filteredItemCount ? (getCexJobsFullDataResponse$ | async)!.length : filteredItemCount + ' / ' + (getCexJobsFullDataResponse$ | async)!.length) + ')'"
      [icon]="'add'"
      (emitter)="actions($event, 'add')"
    >
      <button mat-stroked-button (click)="checkAll()">
        Check all jobs
        <mat-icon>play_arrow</mat-icon>
      </button>
    </app-title-table-button>
  }
  @if (fullCexJobsDataIsReady$ | async) {
    <app-ag-grid
      content
      [rowData]="(getCexJobsFullDataResponse$ | async)!"
      [colDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      (emitter)="actions($event)"
    ></app-ag-grid>
  } @else {
    <app-loader header></app-loader>
  }
</app-header-content-layout>

