
.title-row {
  display: flex;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
  padding-bottom: 8px;
  min-height: 28px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .title-content-start {
    position: absolute;
    left: 16px;
  }

  .title-content-end {
    position: absolute;
    right: 16px;
  }

  .title {
    flex: 1;
    text-align: center;
    margin: 0;
  }
}
