:host {
  width: 100%;

  .area {
    width: 100%;

    textarea {
      width: 50%;
      padding: 16px;
      height: 300px;
    }
  }


  .buttons {
    width: 100%;
    display: flex;
    gap: 16px;
  }
}

