<app-header-content-layout>
  @if ((chainsDataIsLoaded$ | async) && !(chainsDataIsLoading$ | async)) {
    <app-title-table-button
      header
      [title]="'Chains table (' + ((chainsDataResponse$ | async)!.length === filteredItemCount ? (chainsDataResponse$ | async)!.length : filteredItemCount + ' / ' + (chainsDataResponse$ | async)!.length) + ')'"
      [icon]="'add'"
      (emitter)="actions($event, 'add')"
    ></app-title-table-button>
  }
  @if ((chainsDataIsLoaded$ | async) && !(chainsDataIsLoading$ | async)) {
    <app-ag-grid
      content
      [rowData]="(chainsDataResponse$ | async)!"
      [colDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      (emitter)="events($event)"
    ></app-ag-grid>
  } @else {
    <app-loader header></app-loader>
  }
</app-header-content-layout>
