:host {
  display: flex;
  height: 127px;
  min-height: 0;
  padding: 16px;

  app-header-content-layout {
    display: flex;
    flex: 1;
    min-height: 0;

    app-ag-grid {
      display: flex;
      flex: 1;
      min-height: 0;
    }

    app-loader {
      display: flex;
      flex: 1;
      min-height: 0;
    }
  }
}
