
:host {
  width: 100%;

  .footer {
    margin-top: auto;
    overflow: hidden;

    .footer-buttons {
      display: flex;
      flex-direction: row;
      gap: 16px;

      button {
        height: 24px;
        border: 1px solid black;
      }
    }
  }
}
