<app-header-content-layout>
<!--  @if ((jobsDataIsLoaded$ | async) && !(jobsDataIsLoading$ | async)) {-->
    <app-title-table-button
      header
      [title]="'Rpc urls table'"
      [icon]="'add'"
      (emitter)="actions($event, 'add')"
    ></app-title-table-button>
<!--  }-->
<!--  @if ((jobsDataIsLoaded$ | async) && !(jobsDataIsLoading$ | async)) {-->
    <app-ag-grid
      content
      [rowData]="[{rpcUrlId: '', rpcUrl: '', chainId: ''}]"
      [colDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      (emitter)="actions($event)"
    ></app-ag-grid>
<!--  } @else {-->
<!--    <app-loader header></app-loader>-->
<!--  }-->
</app-header-content-layout>

