<app-header-content-layout>
  @if (getFullTokensDataIsReady$ | async) {
    <app-title-table-button
      [title]="'Tokens table'"
      [icon]="'add'"
      (emitter)="actions($event, 'add')"
      header
    ></app-title-table-button>
  }
  @if (getFullTokensDataIsReady$ | async) {
    <app-ag-grid
      [rowData]="(tokensFullDataResponse$ | async)!"
      [colDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      content
    ></app-ag-grid>
  } @else {
    <app-loader header></app-loader>
  }
</app-header-content-layout>
