:host {
  display: flex;
  flex: 1;
  min-height: 0;

  app-header-content-layout {
    display: flex;
    flex: 1;
    min-height: 0;

    app-ag-grid {
      display: flex;
      flex: 1;
      min-height: 0;
    }
  }

}
