<app-header-content-layout>
  @if ((getTokensDataIsLoaded$ | async) && !(getTokensDataIsLoading$ | async)) {
    <app-title-table-button
      [title]="'Tokens table'"
      [icon]="'add'"
      (emitter)="actions($event, 'add')"
      header
    ></app-title-table-button>
  }
  @if ((getTokensDataIsLoaded$ | async) && !(getTokensDataIsLoading$ | async)) {
    <app-ag-grid
      [rowData]="(tokensDataResponse$ | async)!"
      [colDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      content
    ></app-ag-grid>
  } @else {
    <app-loader header></app-loader>
  }
</app-header-content-layout>
