<app-header-content-layout>
  <app-field-title header [title]="'Bot Name'"></app-field-title>
  <app-input-field
    [inputValue]="formData.botName"
    (emitter)="events($event, 'botName')"
    content
  ></app-input-field>
</app-header-content-layout>

<app-header-content-layout>
  <app-field-title header [title]="'Description'"></app-field-title>
  <app-input-field
    [inputValue]="formData.description"
    (emitter)="events($event, 'description')"
    content
  ></app-input-field>
</app-header-content-layout>

@if (serversList) {
  <app-header-content-layout>
    <app-field-title header [title]="'Server Id'"></app-field-title>
    <app-select-field
      [title]="'Server Id'"
      [list]="serversList | async"
      [selected]="formData.server.serverId"
      (emitter)="events($event, 'server')"
      content
    ></app-select-field>
  </app-header-content-layout>
}
